@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h2 class="text-xl-center ">ÖDÜNÇ KİTAP LİSTESİ</h2>

<br />


<table class="table table-bordered" style="text-align:center">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>İŞLEM ID</th>
        <th>KİTAP ADI</th>
        <th>ÜYE</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>İADE TARİHİ</th>
        <th class="text-center">İADE İŞLEMİ</th>


    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD &nbsp @k.TBLUYELER.SOYAD</td>
            <td>@k.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.IADETARIH).ToString("dd/MM/yyyy")</td>
            
            <td class="text-center"><a href="/Odunc/Odunciade/@k.ID" class="btn btn-default" style="background-color:#0094ff; color:white" >Kitabı İade Et</a></td>
          

        </tr>
    }


</table>


