@using MvcKutuphane.Models.Entity;
@model List<TBLKITAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h2 style="text-align:center">KİTAP YAZARI : @ViewBag.y1</h2>
<br />

<table class="table table-striped">
    <tr>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">KİTAP ADI</th>
        <th style="text-align:center">KATEGORİ</th>
        <th style="text-align:center">YAYINEVİ</th>
    </tr>

    @foreach(var x in Model)
            {
                <tr>
                    <td style="text-align:center">@x.ID</td>
                    <td style="text-align:center">@x.AD</td>
                    <td style="text-align:center">@x.TBLKATEGORI.AD</td>
                    <td style="text-align:center">@x.YAYINEVI</td>
                </tr>
            }

</table>
