@model MvcKutuphane.Models.Entity.TBLDUYURULAR
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h2 style="text-align:center">DUYURU DETAY SAYFASI</h2>
<br />

@using (Html.BeginForm("DuyuruGuncelle", "Duyuru", FormMethod.Post))
{
    <div class="form-group" style="font-weight:bolder">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        
        @Html.LabelFor(k => k.KATEGORI)
        @Html.TextBoxFor(k => k.KATEGORI, new { @class = "form-control" })
        <br />
   
        @Html.LabelFor(k => k.ICERIK)
        @Html.TextBoxFor(k => k.ICERIK, new { @class = "form-control" })
        <br />
       
        @Html.LabelFor(k => k.TARIH)
        @Html.TextBoxFor(k => k.TARIH, new { @class = "form-control" })
    </div>
    <div>
        <br />
        <button class="btn btn-warning">GÜNCELLE</button>
    </div>


}

